@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system-ui, Roboto, sans-serif;
  color: #374151; /* Gris oscuro */
  background-color: #F3F4F6; /* Gris claro */
}